/* containers */
.cards-container {
	margin: 30px auto;
}

/* card */
.card {
	width: 300px;
	background-color: #fff;
	margin: 10px;
	box-shadow: 0 0 20px #999;
}

/* card header */
.card-header {
	height: 250px;
	text-align: center;
	position: relative;
}

.img-profile {
	margin: 0 auto;
}

.img-profile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-profile img {
	border-radius: 50%;
	object-fit: cover;
	height: 150px;
	width: 150px;
}

/* card body */
.card-body {
	text-align: center;
	position: relative;
}

.card-body h2 {
	font-family: 'Open Sans', sans-serif;
	margin: 10px auto;
}

.card-body p {
	font-family: 'Noto Sans Mono', monospace;
	margin: 10px auto;
}

/* card footer */
.card-footer {
	background-color: var(--bg-blue);
}

.social-networks {
	margin: 0 auto;
	padding: 10px;
}

.profile-link {
	margin: 0 25px;
}
