/* connection cards */
:root {
	--bg-main: #a1b2bc;
	--color-light: #e4f2fd;
	--bg-blue: rgba(0,0,240, 0.9);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

/* containers */
.container {
	padding: 20px;
	background-image: url(../img/bluesky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.cards-container {
	margin: 30px auto;
}

/* card */
.card {
	width: 300px;
	background-color: #fff;
	margin: 10px;
	float: left;
	box-shadow: 0 0 20px #999;
}

/* card header */
.card-header {
	height: 250px;
	text-align: center;
	position: relative;
}

.img-profile {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-profile img {
	border-radius: 50%;
	object-fit: cover;
	height: 150px;
	width: 150px;
}

/* card body */
.card-body {
	text-align: center;
	position: relative;
}

.card-body h2 {
	font-family: 'Open Sans', sans-serif;
	margin: 10px auto;
}

.card-body p {
	font-family: 'Noto Sans Mono', monospace;
	margin: 10px auto;
}

/* card footer */
.card-footer {
	background-color: var(--bg-blue);
}

.social-networks {
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

.profile-link {
	margin: 0 25px;
	float: left;
}

/* generales */
a {
	text-decoration: none;
}
i {
	color: #fff;
}

.clear, .clearfix {
	clear: both;
}

img {
	width: 100%;
}